*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.App {
  text-align: center;
}

header {
  margin-bottom: 90px;
}
.navbar-nav Link {
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1440px;
}