
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Nunito+Sans" ;
}
.App {
  text-align: center;
}

header {
  margin-bottom: 80px;
}
.navbar-nav Link {
  color: #fff;
}

footer {
  background-color: #212529;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 10px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slider {
  background-image: url(./img/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  margin: 0;
  opacity: 0.9;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0 20px 0;
}

.presentation div {
  flex-basis: 40%;
}

.presentation h3 {
  border-bottom: solid #0d6efd;
}

.presentation :hover {
  box-shadow: -10px 0 15px #adb5bd ;
}

.competences span {
  text-transform: uppercase;
  text-align: left;
}

.adresse, .liens, .realisations {
  flex-basis: 33%;
  line-height: 1.2;
}

.liens {
display: flex;
flex-direction: column;
}

a, .nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #0d6efd;
}

.nav-link:active {
  font-weight: bold;
  text-decoration: underline;
}

.realisations {
  display: flex;
  flex-direction: column;
}

.social img {
  color: #fff;
}

h1, h2 {
  font-weight: bold;
}

.banner {
  width: 100%;
}
.banner img {
  height: 200px;
  width: 100%;
}

.tittle {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-bottom: 5px solid #0d6efd;
}

.services {
  margin-top: 40px;
  height: 400px;
  justify-items: center ;
}

.card {
  height: 400px;
  width: 300px;
}

.card h5 {
  font-weight: bold;
  margin-top: 10px;
}

.col :hover {
  box-shadow: #adb5bd 15px 15px 10px;
  background-color: #efefef;
}

.card-body :hover {
  box-shadow: none;
}

.portfolio {
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
}

.col {
  justify-items: center;
}

.btn-primary :hover {
  opacity: 30%;
  color: #0d6efd;
  
}

.tittle {
  width: 850px;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
  height: 600px;
  box-shadow: 5px 5px 10px;
  margin-top: 20px; 
}

.form-contact {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 15px;
  align-items: start; 
  justify-content: space-between;
}

.form-contact h2, .map h2 {
  border-bottom: 3px solid #0d6efd;
  width: 100%;
}

.form-contact input {
  min-width: 560px;
}

.form-contact button {
  align-self: center;
  border-radius: 10%;
  text-align: center;
  width: 68px;
  background-color: blue;
  color: #fff;
}

.map {
  padding: 15px;
  flex-basis: 50%;
}

address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  justify-content: start;
  text-align: start;
  padding: 15px;
}

.map a {
  color: black;
}

.contact span {
  font-weight: bold;
}